.Premios {
    width: auto;
    background-image: url(/Estilos/Imagenes/Fondos/Espacio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px #e09595; 
}
.diapo {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    margin-bottom: 26px;
}
.diapo-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
figure{
    justify-content: center;
    text-align: center;
    display: grid;
    place-items: center;
}

.ima2{margin-top: 12%;}
.ima3{margin-top: 6%;}

.diapo-open:checked + .diapo-item {
    position: static;
    opacity: 100;
}
.diapo-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.diapo-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.diapo-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.diapo-control.prev {
    left: 2%;
}
.diapo-control.next {
    right: 2%;
}
.diapo-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#diapo-1:checked ~ .control-1,
#diapo-2:checked ~ .control-2,
#diapo-3:checked ~ .control-3 {
    display: block;
}
.diapo-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.diapo-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.diapo-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.diapo-circulo:hover {
    color: #aaaaaa;
}
#diapo-1:checked ~ .control-1 ~ .diapo-indicador 
     li:nth-child(1) .diapo-circulo,
#diapo-2:checked ~ .control-2 ~ .diapo-indicador 
      li:nth-child(2) .diapo-circulo,
#diapo-3:checked ~ .control-3 ~ .diapo-indicador 
      li:nth-child(3) .diapo-circulo {
    color: #1fff01;
}